<div class="total">
    <div  class="row">
      <div class="col s10 m6 l4 push-s1 push-m3 push-l4">
        <br>
        <br>
        <br>
        <br>
        <div class="card">
          <br>
          <div class="center-align">
            <h3 style="color:rgb(255, 0, 0)">
              Reserva Car's
            </h3>
          </div>
          <div class="card-content">
            <br>
            <div class="input-field">
                <i class="material-icons prefix center">account_circle</i>
                <input [(ngModel)]="user.Email" placeholder="Entre com seu email"  id="email" type="text">
                <label for="email" class="active">Login</label>
            </div>
  
            <div class="input-field">
                <i class="material-icons prefix">lock_outline</i>
                <input [(ngModel)]="user.Senha" placeholder="Entre com sua senha" id="senha" type="password">
                <label for="senha" class="active">Senha</label>
               
            </div>
          </div>
          <div>
            <br>
            <div class="center-align">
              <button class="waves-effect waves-light btn red" (click)="VerificarAcesso()">Entrar</button>
              <br>
              <br>
              <a style="color:rgb(255, 0, 0)" routerLink="/autenticacao/cadastroUsuario">Cadastrar-se agora</a>
              <br>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>