.brand-logo {
    position: absolute;
    color: #fff;
    display: contents;
    font-size: 2.1rem;
    padding: 0;
}

.margin-carousel {
    margin-top: 30px;
}

.button-config{
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -15px;
}

.gray-background{
    background-color: rgb(240, 240, 240);
}